* {
    font-family: 'Crimson Text', serif;
    background-color: #2B2B2B;
    color: rgb(237, 243, 248);
}

body {
    background-color: #2B2B2B;
}
/* Navbar */

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding-right: 15px;
    list-style: none;
    font-size: 1.5rem;
    padding-top: 10px;
}

.nav-item {
  padding: 0px 30px;
  word-wrap: normal;
  display: inline-block;
}

.nav-link {
    color: rgb(237, 243, 248);
}

.nav a {
    color: rgb(237, 243, 248);
  }
  
 .nav a:link { text-decoration: none; }
  
  a:visited { text-decoration: none; }
  
 .nav a:hover { 
    text-decoration: underline;
 }
  
  a:active { text-decoration: none; }

/* Jumbotron */

.jumbotron {
    background: none;
}

.containername {
    margin-left: calc(100vw - 95%);
}

.display-4 {
    margin: -10px;

}

h1 {
    font-size: 4rem;
}

h2 {
    margin-right: calc(100vw - 80%);
    float: right;
    font-size: 36px;
    

}

/* Work */

.container {
    display: grid;
    max-width: 500px;
    gap: 25px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.col-12 .col-6 {
    height: 200px;
}

.container .col-12 img {
    width: 100%;
}

.container .col-6 img {
    width: 100%;
}





/* Skills */

.skills-section {
    max-width: 400px;
    margin: auto;
    margin-top: 130px;
    margin-bottom: 50px;
    margin-right: calc(100vw - 64%);
}

/* About */

p { 
    max-width: 500px;
    margin: auto;
    text-align: right;
    font-size: 1.675rem;
    margin-right: calc(100vw - 64%);
    margin-top: 130px;
}


/* Links */ 

.nav-links {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: calc(100vw - 64%);
    font-size: 2rem;
    font-style: italic;
}

.nav-item-link {
    margin-right: 40px;

}

.nav-item-link a {
    color: rgb(237, 243, 248);
  }
  
 .nav-item-link a:link { text-decoration: none; }
  
  a:visited { text-decoration: none; }
  
 .nav-item-link a:hover { 
    text-decoration: underline;
 }
  
  a:active { text-decoration: none; }