/* Navbar */

.nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    padding-right: 15px;
    list-style: none;
    font-size: 1.5rem;
    padding-top: 10px;
}

.nav-item {
  padding: 0px 30px;
  word-wrap: normal;
  display: inline-block;
}

/* Jumbotron */

.jumbotron {
    background: none;
    width: calc(100vw - 90%);
}

h2 { 
    margin-right: 25px;
    float: right;
    

}

/* Work */

.container {
    display: grid;
    max-width: 400px;
    margin: auto;
    gap: 19px;
}


/* Skills */

.skills-section {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}





/* Links */ 

a {
    color: black;
  }
  
  a:link { text-decoration: none; }
  
  a:visited { text-decoration: none; }
  
  a:hover { text-decoration: none; }
  
  a:active { text-decoration: none; }